body{
  background-color:#E3E5DE;
  font-family: 'Oswald', sans-serif;
}
header,footer{
  background-color: #272838;
  color:#fff;
  width: auto;
}
h1,h3{color: #9B1D20;}
h3{font-size: 1em;}
hr {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 15px;
  width:auto;
  color:#272838;
}
/*Day activities tiles ***********************/
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 35%;
  height:30%;
  margin: 10px;
  text-align: center;
}
.row {
  flex-basis: 300px;
  width:40%;
}
/*wrapper**************/
.wrapper{
  background:#ffffff;
  width:95%;
  max-width:900px;
  margin:0 auto;
  padding: 12px 20px;
}
li{
  text-align:left;
}
blockquote{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-top:50px;
  padding-left: 15px;
  border-left: 5px solid #A83C40;
  font-style:italic;
  color:#225A96;
  font-size:1.5em;
}
.pic{
 max-width:450px;
 height:350px;
 float:left;
 margin-right:10px;
}
/****Separated footer into main-footer and copyright to have the copyright in
 its separate row and centered instead of alongside the other information******/
#main-footer{
  padding:5px;
  margin-left:20px;
  margin:auto;
  font-size:1em;
  display: flex;
  flex-direction: row;
  max-height:300px;
}
#main-footer > h2{
  color:#E3E5DE;
  margin-left:30px;
}
#main-footer > ul{
  list-style-type: none;
  margin-left:30px;
  width:30%;
  margin-top:50px;
}
#copyright{
  text-align: center;
  float:center;
  display: flex;
  flex-direction: column;
  padding:20px;
  margin:auto;
}

/* CSS for photo slide by Code Convey *****************************************/
#cc-slider {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    position:relative;
}
#cc-slider input {
    display: none;
}
#cc-slides article img {
    width: 100%;
    height:400px;
}
#cc-slides .inner {
   width: 500%;
   line-height: 0;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#cc-slides article {
   width: 20%;
   float: left;
}
#slide1:checked ~ #cc-slides .inner { margin-left:0; }
#slide2:checked ~ #cc-slides .inner { margin-left:-100%; }
#slide3:checked ~ #cc-slides .inner { margin-left:-200%; }
#slide4:checked ~ #cc-slides .inner { margin-left:-300%; }
#slide5:checked ~ #cc-slides .inner { margin-left:-400%; }
#controls {
   margin: -8% 0 0 84%;
   width: 15%;
   height: 50px;
}
#controls label, a {
   color: #B33951;
   font-weight: 1000;
   cursor: pointer;
   text-decoration: none;
   margin: 0 0 5px;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   background: none repeat scroll 0 0 #fff;
   padding: 5px;
}
#controls label {
   display: none;
   width: 50px;
   height: 50px;
}
#controls label:hover {
    color: #ff0042 !important;
}
#controls label:hover {
   opacity: 0.8;
}
#active {
   margin: 23% 0 0;
   text-align: center;
}
#active label {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   display: inline-block;
   width: 10px;
   height: 10px;
   background: #f89e67;
}
#active label:hover {
    background: #ccc;
    border-color: #777 !important;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('../images/next.png') no-repeat;
	float: right;
	display: block;
	background-image: url('https://image.flaticon.com/icons/svg/467/467282.svg');
  width:30%;
}
#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('../images/prev.png') no-repeat;
	float: left;
	display: block;
	background-image: url('https://image.flaticon.com/icons/svg/467/467274.svg');
  width:30%;
}
.cctooltip {
    color: #FFFFFF;
    font-style: italic;
    line-height: 20px;
    margin-top: 250px;
    opacity: 0;
    position: absolute;
    text-align: left;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
}
.cctooltip h3 {
	color: #FFFFFF;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 16px;
	font-style: normal;
	background: none repeat scroll 0 0 #222222;
	padding: 5px;
}
.cctooltip h4 {
	color: #FFFFFF;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
	background: none repeat scroll 0 0 #222222;
	padding: 5px;
	text-align:right;
	width:160px;
}
#cc-slides .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}
#cc-slider {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#controls label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
#slide1:checked ~ #cc-slides article:nth-child(1) .cctooltip,
#slide2:checked ~ #cc-slides article:nth-child(2) .cctooltip,
#slide3:checked ~ #cc-slides article:nth-child(3) .cctooltip,
#slide4:checked ~ #cc-slides article:nth-child(4) .cctooltip,
#slide5:checked ~ #cc-slides article:nth-child(5) .cctooltip {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}
/******end of photo slides***************************************************/
