body{
  background-color:#F7F7F7;
  font-family:arial,sans-serif;
}
header{text-align: center; font-size:75px; background-color:#F2E3F9;}
h1,h2,h3{
  color:#342977;
}
h1{
  margin-bottom:.5em;
}
h2{
  margin-bottom:.25em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #654872;
  margin-top 8px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #fff;
}

.active {
  background-color: #4CAF50;
}
a{
  color:#1E2749;
}
a:hover {
  color:#B599FF;
}
blockquote{
  color:#30343F;
}
img{
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}
.wrapper{
  background:#ffffff;
  width:92%;
  max-width:800px;
  margin:0 auto;
  padding: 12px 20px;
}
blockquote{
  border-left:4px solid #F2E3F9;
  padding: 12px;
  background:#f9f9f9;
  margin-left:0;
}
.caption{
  font-style:italic;
  margin-top: .25em;
}
.image{
  text-align:center;
  margin: 2em 0;
}
p{
  line-height:1.4em;
}
.image {
  transition: 0.4s cubic-bezier(1, -1, 0, 2);
  clip-path: inset(16% 0 21% 0);
}
.image:hover {
  clip-path:inset(0 0 0 0);
}
